body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    padding: 4px 0;
    background-color: #2b7a78;
    text-align: center;
    color: white;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 2.2em;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#uploadArea,
#reportArea {
    width: 40%;
}

.drag-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}

#fileInput {
    display: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #2b7a78;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #205c5a;
}

#reportContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
}